<h1>Component Proofing Page</h1>


<div class="proofing-example">
  <h3>query-result (Session)</h3>
  <p>
    {{query-result result=model.session_result}}
  </p>
  <p class="config">
    {{#with model.session_result as |s|}}
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td>Total</td>
            <td>{{ui-slider value=s.total_num_tests min=0 max=100}}</td>
            <td>Errors</td>
            <td>{{ui-slider value=s.num_error_tests min=0 max=100}}</td>
          </tr>
          <tr>
            <td>Failures</td>
            <td>{{ui-slider value=s.num_failed_tests min=0 max=100}}</td>
            <td>Skips</td>
            <td>{{ui-slider value=s.num_skipped_tests min=0 max=100}}</td>
          </tr>
          <tr>
            <td>Finished</td>
            <td>{{ui-slider value=s.num_finished_tests min=0 max=100}}</td>
            <td>num_errors</td>
            <td>{{ui-slider value=s.num_errors min=0 max=100}}</td>
          </tr>
          <tr>
            <td>total_num_warnings</td>
            <td>{{ui-slider value=s.total_num_warnings min=0 max=100}}</td>
            <td>
              {{input id="is_abandoned" type="checkbox" checked=s.is_abandoned}} <label for="is_abandoned">Abandoned?</label>
            </td>
            <td>
              {{input id="is_running" type="checkbox" checked=s.is_running}} <label for="is_running">Running?</label>
            </td>
          </tr>
        </tbody>
      </table>
    {{/with}}
  </p>
</div>


<div class="proofing-example">
  <h3>hr-separator</h3>

  <p>
  {{hr-separator title="blap"}}
  </p>
</div>

<div class="proofing-example">
  <h3>elements/copyable-text</h3>

  <p>
    here is {{elements/copyable-text value="some value to copy"}}
  </p>
</div>


<div class="proofing-example">
  {{#with 'errors/traceback-frame' as |name| }}
    <h3>{{name}}</h3>
    <p>
      {{component name frame=model.traceback_frame}}
    </p>
  {{/with}}
  <p class="config">
    {{input id="is_in_test_code" type="checkbox" checked=model.traceback_frame.is_in_test_code}}<label for="is_in_test_code">In Test Code?</label>
  </p>
</div>


<div class="proofing-example">
  {{#with 'users/user-avatar' as |name| }}
    <h3>{{name}}</h3>
    <p class="text-center">
      {{component name email="vmalloc@gmail.com"}}
    </p>
    <p class="text-center query-result">
      {{component name email="vmalloc@gmail.com" real_email="other@example.com"}}
    </p>
    <p class="text-center">
      {{component name email="vmalloc@gmail.com" admin=true}}
    </p>
  {{/with}}
</div>
