<h1>Component Proofing Page</h1>

<div class="container">
  <div class="input-group pull-right">
    {{input value=search placeholder="Search for..." class="form-control"}}
  </div>
</div>

<div class="proofing-example">
  <h3>inline-toggle</h3>
  <p>
    Some value {{inline-toggle value=(mut inline_toggle_value)}} (Currently {{inline_toggle_value}})
  </p>
</div>

<div class="proofing-example">
  <h3>session-breakdown</h3>
  <p>
    {{session-breakdown session=model.session_result}}
  </p>
</div>

<div class="proofing-example">
  <h3>session-item</h3>
  <p>
    {{#each (range 0 3) as |x|}}
      {{session-item item=model.session_result}}
    {{/each}}
  </p>
  <p class="config">
    {{#with model.session_result as |s|}}
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td>Total</td>
            <td>{{ui-slider value=(mut s.total_num_tests) min=0 max=100}}</td>
            <td>Errors</td>
            <td>{{ui-slider value=(mut s.num_error_tests) min=0 max=100}}</td>
          </tr>
          <tr>
            <td>Failures</td>
            <td>{{ui-slider value=(mut s.num_failed_tests) min=0 max=100}}</td>
            <td>Skips</td>
            <td>{{ui-slider value=(mut s.num_skipped_tests) min=0 max=100}}</td>
          </tr>
          <tr>
            <td>Finished</td>
            <td>{{ui-slider value=(mut s.num_finished_tests) min=0 max=100}}</td>
            <td>num_errors</td>
            <td>{{ui-slider value=(mut s.num_errors) min=0 max=100}}</td>
          </tr>
          <tr>
            <td>total_num_warnings</td>
            <td>{{ui-slider value=(mut s.total_num_warnings) min=0 max=100}}</td>
            <td>
              {{input id="is_abandoned" type="checkbox" checked=(mut s.is_abandoned)}} <label for="is_abandoned">Abandoned?</label>
            </td>
            <td>
              {{input id="is_running" type="checkbox" checked=(mut s.is_running)}} <label for="is_running">Running?</label>
            </td>
          </tr>
        </tbody>
      </table>
    {{/with}}
  </p>
</div>


<div class="proofing-example">
  <h3>test-item</h3>
  <p>
    {{#each (range 0 3) as |x|}}
      {{test-item item=model.test_result}}
    {{/each}}
  </p>
  <p class="config">
    {{#with model.test_result as |s|}}
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td>Status</td>
            <td>
              {{#each (w "success" "failure" "running" "skipped") as |status|}}
		<button class="btn {{if (eq status model.test_result.status) 'btn-success' 'btn-default'}}"
		  {{action "set_test_status" status}}
		>{{status}}</button>
              {{/each}}

            </td>
            <td>num_errors</td>
            <td>
              <td>{{ui-slider value=model.test_result.num_errors min=0 max=1000}}</td>
            </td>
            <td>num_warnings</td>
            <td>
              <td>{{ui-slider value=model.test_result.num_warnings min=0 max=1000}}</td>
            </td>

          </tr>
        </tbody>
      </table>
    {{/with}}
  </p>
</div>



<div class="proofing-example">
  <h3>hr-separator</h3>

  <p>
  {{hr-separator title="blap"}}
  </p>
</div>

<div class="proofing-example">
  <h3>elements/copyable-text</h3>

  <p>
    here is {{elements/copyable-text value="some value to copy"}}
  </p>
</div>


<div class="proofing-example">
  {{#with 'errors/traceback-frame' as |name| }}
    <h3>{{name}}</h3>
    <p>
      {{component name frame=model.traceback_frame}}
    </p>
  {{/with}}
  <p class="config">
    {{input id="is_in_test_code" type="checkbox" checked=model.traceback_frame.is_in_test_code}}<label for="is_in_test_code">In Test Code?</label>
  </p>
</div>


<div class="proofing-example">
  {{#with 'users/user-avatar' as |name| }}
    <h3>{{name}}</h3>
    <p class="text-center">
      <div class="item session text-center" style="padding: 2em; padding-left: 10em">
      {{component name email=avatar_email real_email=real_email admin=admin moderator=moderator large=large}}
      </div>
    </p>
  {{/with}}
  <p class="config">
    {{input id="is_admin" type="checkbox" checked=admin}}<label for="is_admin">Admin?</label>

    {{input id="is_moderator" type="checkbox" checked=moderator}}<label for="is_moderator">Moderator?</label>


    {{input id="is_large" type="checkbox" checked=large}}<label for="is_large">Large?</label>

    {{input id="use_real_email" type="checkbox" checked=use_real_email}}<label for="use_real_email">Proxy?</label>

  </p>
  <p class="config">
    <div class="form-group">
      {{input type="text" value=avatar_email}}
    </div>
  </p>

</div>
