<div class="left-badge">
  <div class="summary">
    {{#if is_running}}
      <div>
        Still running...
      </div>
    {{/if}}
    {{#if test.first_error}}
      {{test.first_error.exception_type}}: {{test.first_error.message}}
      {{#if (gt test.num_errors 1) }}
        <div>
          <i class="fa fa-exclamation-circle"></i> +{{sub test.num_errors 1}}
        </div>
      {{/if}}
    {{else}}
      {{#if (eq status 'skipped')}}
        Skipped ({{test.skip_reason}})
      {{/if}}
    {{/if}}

  </div>
</div>

<div class="main-info">
  {{status-icon status=test.computed_status}}
  {{#if show_user}}
      {{#elements/tool-tip title=test.user_display_name}}
        {{#link-to 'user' test.user_email}}
        {{users/user-avatar email=test.user_email small=true}}
        {{/link-to}}
      {{/elements/tool-tip}}
      <div class="user-info">
        <small>{{#link-to 'user' test.user_email}}{{test.user_display_name}}{{/link-to}}</small>
      </div>
  {{/if}}
  <div class="test-index">{{if test.test_index test.test_index '???'}}</div>
  {{tests/test-name info=test.info variation=test.variation parameters=test.parameters}}
</div>

{{#if show_subjects}}
  <div class="subject-info">
      {{subject-info subjects=test.subjects}}
  </div>
{{/if}}

<div class="additional-info {{if display.humanize_times 'humanized'}}">
  {{item-times start=test.start_time end=test.end_time humanize=display.humanize_times}}
  <div class="duration">
    {{humanize-duration start=test.start_time end=test.end_time}}
  </div>
</div>

{{item-comment-overview item=test}}

<div class="right-label expand-on-hover warnings {{if test.num_warnings 'visible'}}">
  <i class="fa fa-warning"></i> <span class="summary">{{pluralize-word test.num_warnings "Warning"}}</span>
</div>
