{{#if error.exception_attributes}}
  {{#expandable-div title="Exception attributes"}}
    {{variable-list vars=error.exception_attributes}}
  {{/expandable-div}}
{{/if}}

{{#if (and error.traceback_url (not error.traceback))  }}
  <div class="box error">
    <div class="info">
      Could not load traceback
    </div>
  </div>
{{else}}
  <p>
    Traceback (<a class="clickable" {{action "toggle_all_frames"}}>{{if all_expanded 'collapse' 'expand'}} all</a>):
  </p>
  {{#each error.traceback as |frame|}}
    {{errors/traceback-frame frame=frame override_expand=override_expand}}
  {{/each}}
{{/if}}
