{{#if error.exception_attributes}}
  {{#expandable-div title="Exception attributes"}}
    {{variable-table variables=error.exception_attributes}}
  {{/expandable-div}}
{{/if}}

{{#if loading }}
  <div class="m-3 p-3">
    <div class="spinner-border" role="status">
    </div>
  </div>

{{else}}

  {{#if (and error.traceback_url (not error.traceback))  }}
    <div class="p-1 m-3 border border-danger">
      <strong>Could not load traceback</strong>
    </div>
  {{else}}
    <div class="p-3">
      Traceback (<a class="text-primary clickable" {{action "toggle_all_frames"}}>{{if all_expanded 'collapse' 'expand'}} all</a>):
    </div>
    {{#each error.traceback as |frame|}}
      {{errors/traceback-frame frame=frame override_expand=override_expand}}
    {{else}}
      <div class="alert alert-danger m-5">
        No Traceback frames available
      </div>
    {{/each}}
  {{/if}}
{{/if}}
