<div class="container-fluid">
  <h3>
    {{status-icon status=test_model.status spaced=false}} {{elements/copyable-text
							     copy_value=(format-test-name test_model.info)
							     value=(format-test-name test_model.info with_filename=false)}}
  </h3>
  <small>from <strong>{{test_model.info.file_name}}</strong></small>

  {{#if (eq test_model.status "SKIPPED")}}
    <p>
      <strong>Skipped:</strong> {{test_model.skip_reason}}
    </p>
  {{/if}}

  <div class="row add-margin-top add-margin-bottom">
    <div class="col-sm-12"><strong>Test ID</strong>: {{elements/copyable-text value=test_model.display_id}} {{#link-to 'test_info' test_model.test_info_id classNames="add-margin-left"}}
      <i class="fa fa-history"></i> Previous executions...
    {{/link-to}}</div>
  </div>

</div>


<div class="navigation">
  <div class="tabs">
    <ul class="nav nav-tabs">

      {{#link-to 'session.test.index' tagName='li'}}
	<a href>
	  Test Info
	</a>
      {{/link-to}}

      {{#if test_model.num_errors}}
	{{#link-to 'session.test.errors' tagName='li'}}
	  <a href>Errors <span class="label label-danger">{{test_model.num_errors}}</span></a>
	{{/link-to}}
      {{/if}}

      {{#with test_model.num_warnings as |num_warnings|}}
	{{#if num_warnings}}
	  {{#link-to 'session.test.warnings' tagName='li'}}
	    <a href>Warnings <span class="label label-warning">{{num_warnings}}</span></a>
	  {{/link-to}}
	{{/if}}
      {{/with}}

      {{#link-to 'session.test.activity' tagName='li'}}
	<a href>Activity
	  {{#if test_model.num_comments}}
	    <span class="label label-default"> {{test_model.num_comments}} </span>
	  {{/if}}
	</a>
      {{/link-to}}


    </ul>
  </div>
</div>


{{outlet}}
