{{#if user_prefs.show_test_session_overviews}}
  {{session-overview session_model=session_model short=true}}
{{/if}}

{{test-overview test_model=test_model test_metadata=test_metadata session_model=session_model timings=timings}}

<div class="mt-3">

  {{#bs-nav type="tabs" as |nav|}}
    {{#nav.item classNames="test-info-tab"}}
      {{#nav.link-to 'session.test.index'}}
        Test Info
      {{/nav.link-to}}
    {{/nav.item}}

    {{#if test_model.num_errors}}
      {{#nav.item}}
        {{#nav.link-to 'session.test.errors'}}
          Errors <span class="badge badge-pill badge-danger">{{test_model.num_errors}}</span>
        {{/nav.link-to}}
      {{/nav.item}}
    {{/if}}

    {{#if test_model.num_interruptions}}
      {{#nav.item}}
        {{#nav.link-to 'session.test.interruptions'}}
          Interruptions <span class="badge badge-pill badge-danger">{{test_model.num_interruptions}}</span>
        {{/nav.link-to}}
      {{/nav.item}}
    {{/if}}
    {{#with test_model.num_warnings as |num_warnings|}}
      {{#if num_warnings}}
        {{#nav.item}}
          {{#nav.link-to 'session.test.warnings'}}
            Warnings <span class="badge badge-pill badge-warning">{{num_warnings}}</span>
          {{/nav.link-to}}
        {{/nav.item}}
      {{/if}}
    {{/with}}

    {{#nav.item}}
      {{#nav.link-to 'session.test.comments'}}
        Comments
        {{#if test_model.num_comments}}
          <span class="badge badge-pill badge-secondary">{{test_model.num_comments}}</span>
        {{/if}}
      {{/nav.link-to}}
    {{/nav.item}}

  {{/bs-nav}}
</div>

{{outlet}}
