<div class="activity-item">
  <div class="activity-icon {{item.action}}">
    <i class="fa fa-{{action_info.icon}}"></i>
  </div>

  {{#if item.deleted}}
    Deleted item by {{item.user_email}} ({{moment-time unix=item.timestamp}})
  {{else}}
    <div class="activity-heading">
      {{users/user-avatar user=(hash email=item.user_email)}} On {{moment-time unix=item.timestamp}}, {{item.user_email}} {{action_message}}
    </div>
    <div class="activity-content">
      {{linkify item.text}}
    </div>
  {{/if}}
</div>
