<div class="row">
  <!-- left column -->
  <div class="col-sm-6">
    <div class="row">
      <div class="col">
        {{status-icon status=session.computed_status}}
        {{#if show_subjects}}
          {{subject-info subjects=session.subjects}}
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <small>
        {{#link-to 'user' session.user_email}}
          {{session.user_display_name}}
        {{/link-to}}
        </small>
      </div>
    </div>
  </div>
  <!-- right column -->
  <div class="col-sm-6">
    <div class="row">
      <div class="col">
        {{session-breakdown session=session show_total_count=false}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{#if show_labels}}
          {{#each session.labels as |label|}}
            {{item-label label=label}}
          {{/each}}
        {{/if}}

      </div>
    </div>
  </div>
</div>
