
<div class="left-badge">
  <div class="summary">
    {{session-breakdown session=session show_total_count=false}}
  </div>
</div>
<div class="details">
  {{status-icon status=session.computed_status}}
  <div class="user-info">

    {{users/user-avatar email=session.user_email real_email=session.real_email small=true}}
    <small>Started by {{#link-to 'user' session.user_email}}{{session.user_display_name}}{{/link-to}}</small>

  </div>


  <div class="item-info">
    {{#if show_subjects}}
      {{subject-info subjects=session.subjects}}
    {{/if}}
    {{#if show_labels}}
      {{#each session.labels as |label|}}
	{{item-label label=label}}
      {{/each}}
    {{/if}}
  </div>

  {{item-times start=session.start_time end=session.end_time humanize=display.humanize_times}}

  <div class="duration">
    {{humanize-duration start=session.start_time end=session.end_time}}
  </div>
</div>

{{item-comment-overview item=session}}


<div class="right-label warnings expand-on-hover {{if session.total_num_warnings 'visible'}}">
  <i class="fa fa-warning"></i> <span class="summary">{{pluralize-word session.total_num_warnings "Warning"}}</span>
</div>
