
<div class="left-badge">
  <div class="summary">
    {{#if in_pdb}}
      <div>
        (In Debugger)
      </div>
    {{/if}}
    {{#if session.num_errors}}
      <div>
	<i class="fa fa-exclamation-circle"></i>
	{{session.num_errors}} session {{pluralize-word session.num_errors "error" omitCount=true}}
      </div>
    {{/if}}
    {{#if is_abandoned}}
      <div>
      Abandoned
      </div>
      <div>
        ({{abandoned_reason}})
      </div>
    {{else}}
      {{#if session.num_finished_tests}}
        {{session.num_finished_tests}} tests
        {{#if (and session.total_num_tests (gt session.total_num_tests session.num_finished_tests))}}
          / {{session.total_num_tests}}
        {{/if}}
      {{/if}}
      {{#if session.is_interrupted}}
	<div>
	  Interrupted
	</div>
      {{else}}
	{{#if (and session.num_finished_tests (not (or total_num_unsuccessful session.num_skipped_tests))) }}
          <div>
            <i class="fa fa-check"></i> {{session.num_finished_tests}} successful
          </div>
	{{else}}
          {{#if total_num_unsuccessful}}
            <div>
              <i class="fa fa-exclamation-circle"></i>
              {{total_num_unsuccessful}} unsuccessful tests
            </div>
          {{/if}}
	{{/if}}
        {{#if session.num_skipped_tests}}
          <div>
            <i class="fa fa-forward"></i>
            {{session.num_skipped_tests}} skipped tests
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</div>
<div class="details">
  {{status-icon status=session.computed_status}}
  <div class="user-info">

    {{users/user-avatar email=session.user_email real_email=session.real_email small=true}}
    <small>Started by {{#link-to 'user' session.user_email}}{{session.user_display_name}}{{/link-to}}</small>

  </div>


  {{#if show_subjects}}
    {{subject-info subjects=session.subjects}}
  {{/if}}

  {{item-times start=session.start_time end=session.end_time humanize=humanize_times}}

  <div class="duration">
    {{humanize-duration start=session.start_time end=session.end_time}}
  </div>
</div>

{{item-comment-overview item=session expanded=comments_expanded}}


<div class="right-label warnings expand-on-hover {{if session.total_num_warnings 'visible'}}">
  <i class="fa fa-warning"></i> <span class="summary">{{pluralize-word session.total_num_warnings "Warning"}}</span>
</div>
