<div class="row">
  <!-- left column -->
  <div class="col-sm-6 col-md-4">
    <div class="row">
      <div class="col">
        {{status-icon status=session.computed_status}}
        {{#if show_subjects}}
          {{subject-info subjects=session.subjects}}
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col d-none d-md-block">
        <small>
          {{#link-to 'user' session.user_email}}
            {{#if user_prefs.show_avatars}}
              {{users/avatar-image email=session.user_email}}
            {{/if}}
            {{session.user_display_name}}
          {{/link-to}}
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{#if session.is_parent_session}}
          <div class="badge badge-light">
            {{fa-icon "random"}} Parallel
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <!-- middle column -->
  <div class="col-md-4 d-none d-md-block">
    <div class="row">
      <div class="col">
        {{item-times item=session}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{#if show_labels}}
          {{#each session.labels as |label|}}
            {{item-label label=label}}
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
  <!-- right column -->
  <div class="col-sm-6 col-md-4">
    <div class="row justify-content-end">
      <div class="col-sm-2 faint">
        {{#if session.num_comments}}
          {{#link-to "session.comments" session.display_id bubbles=false classNames="nodecoration"}}
            {{fa-icon "comment"}} {{session.num_comments}}
            {{#bs-popover triggerEvents="hover"}}
              <div class="row">
                <div class="col-sm-2">
                  {{users/avatar-image email=session.last_comment.user_email}}
                </div>
                <div class="col-sm-10">
                  {{markdown-to-html session.last_comment.comment}}
                </div>
              </div>
            {{/bs-popover}}
          {{/link-to}}
        {{/if}}
      </div>
      <div class="col-sm-6 co-md-4">
        {{session-breakdown session=session show_total_count=false}}
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">


    </div>
  </div>
</div>
