<div class="alert alert-danger text-center">
    {{#if error.syntax_errorr}}
  Search syntax error
{{else}}
  {{#each-in error as |name value|}}
    {{#with (capitalize (undasherize name)) as |display_name|}}
      {{#with (capitalize (undasherize value)) as |display_value|}}
        <p>
        {{#if (eq display_name display_value)}}
          <strong>{{display_name}}</strong>
        {{else}}
          <strong>{{capitalize (undasherize name)}}</strong>: {{value}}
        {{/if}}
        </p>
      {{/with}}
    {{/with}}
  {{/each-in}}
{{/if}}
</div>
