<div class="row-fluid">
  <div class="details-pane col-sm-4">
    <p>
      <strong>File name:</strong> <code>{{test.info.file_name}}</code>
    </p>
    {{#if test.info.class_name}}
      <p>
        <strong>Class name:</strong> <code>{{test.info.class_name}}</code>
      </p>
    {{/if}}
    <p>
      <strong>{{#if test.info.class_name}}Method{{else}}Function{{/if}} name:</strong> <code>{{test.info.name}}</code>
    </p>

    {{# if test.is_skipped }}
      <p>
        <strong>Skip reason</strong>: {{test.skip_reason}}
      </p>
    {{/if}}

    {{# if test.scm }}
      <p><i class="fa fa-git-square"></i> Revision: <code>{{test.scm_revision}}</code></p>
      <p>File hash: <code>{{test.file_hash}}</code></p>
      {{# if test.scm_dirty }}
        <p><i class="fa fa-exclamation-triangle"></i> Working directory contained uncommitted changes</p>
      {{/if}}
    {{/if}}

  </div>

  <div class="details-pane col-sm-4">
    <p><i class="fa fa-clock-o"></i> <strong>Started</strong>: {{moment-time unix=test.start_time}}</p>
    <p><i class="fa fa-clock-o"></i> <strong>Ended</strong>: {{moment-time unix=test.end_time}}</p>

  </div>

</div>


