<div class="row-fluid">
  <div class="details-pane col-sm-4">
    <p>
      <strong>Session:</strong> {{#link-to 'session.index' model.session_id}}{{model.session_id}}{{/link-to}}
    </p>
    <p>
      <strong>File name:</strong> <code>{{model.info.file_name}}</code>
    </p>
    {{#if model.info.class_name}}
      <p>
        <strong>Class name:</strong> <code>{{model.info.class_name}}</code>
      </p>
    {{/if}}
    <p>
      <strong>{{#if model.info.class_name}}Method{{else}}Function{{/if}} name:</strong> <code>{{model.info.name}}</code>
    </p>

    {{# if model.is_skipped }}
      <p>
        <strong>Skip reason</strong>: {{model.skip_reason}}
      </p>
    {{/if}}

    {{# if model.scm }}
      <p><i class="fa fa-git-square"></i> Revision: <code>{{model.scm_revision}}</code></p>
      <p>File hash: <code>{{model.file_hash}}</code></p>
      {{# if model.scm_dirty }}
        <p><i class="fa fa-exclamation-triangle"></i> Working directory contained uncommitted changes</p>
      {{/if}}
    {{/if}}

  </div>

  <div class="details-pane col-sm-4">
    <p><i class="fa fa-clock-o"></i> <strong>Started</strong>: {{moment-time unix=model.start_time}}</p>
    <p><i class="fa fa-clock-o"></i> <strong>Ended</strong>: {{moment-time unix=model.end_time}}</p>

  </div>

</div>


