{{#tool-bar}}

  <p class="navbar-text">{{#link-to 'session' test.session.display_id}} Session {{test.session.display_id}}{{/link-to}} / Test {{test.display_id}}</p>

{{/tool-bar}}

{{hr-separator title="Test Information"}}

<div class="container">

  <table class="table table-hover">
    <tbody>
      {{#each-in test_details as |name value|}}
        <tr>
          <td>{{name}}</td><td class="test-detail-value">{{value}}</td>
        </tr>
      {{/each-in}}

      {{#each-in scm_details as |name value|}}
        <tr>
          <td><i class="fa fa-git-square"></i> {{name}}</td>
          <td class="test-detail-value">{{value}}</td>
        </tr>
      {{/each-in}}

      {{#if test.scm_dirty }}
        <tr>
          <td colspan="2">
            <i class="fa fa-exclamation-triangle warning"></i> Working directory contained uncommitted changes when this test was run
          </td>
        </tr>
      {{/if}}

      {{#if test.num_errors }}
        <tr>
          <td colspan="2">
            <span class="danger">
              <i class="fa fa-times-circle"></i>
              {{#link-to "test.errors"}} {{test.num_errors}} Errors {{/link-to}}
            </span>
          </td>
        </tr>
      {{/if}}

    </tbody>
  </table>

</div>

