{{#tool-bar}}
  <div class="filter-controls">
{{outlet "filter-controls"}}
  </div>
  {{#if (not hide_search)}}
    <form class="navbar-form" role="search">
      {{#escape-focus}}
        {{input class="form-control search-bar" id="search-field" placeholder="Search for..." value=entered_search}}
      {{/escape-focus}}
      <div class="input-group">
        <button class="btn btn-default" type="submit" {{action "search"}}><i class="fa fa-search"></i></button>
      </div>

      {{#search-help}}
        <table class="table table-striped">
          <tbody>
            <tr>
              <td><code>start_time &lt; -30d </code></td>
              <td>Find sessions which started more than 30 days ago</td>
            </tr>
            <tr>
              <td><code>end_time &gt; -15d</code></td>
              <td>Find sessions which ended less than 15 days ago</td>
            </tr>
            <tr>
              <td><code>at = '26/11/2016 13:08:40'</code></td>
              <td>Find sessions which were running at the given date</td>
            </tr>
            <tr>
              <td><code>user = someuser</code></td>
              <td>Find sessions run by user <code>someuser</code></td>
            </tr>
            <tr>
              <td><code>{{display-name "subject"}} = microwave01</code></td>
              <td>Find sessions which ran on <code>microwave01</code></td>
            </tr>
            <tr>
              <td><code>{{display-name "related_entity"}} = some_related</code></td>
              <td>Find tests which with <code>some_related</code></td>
            </tr>
            <tr>
              <td><code>product_version = 1.0.0</code></td>
              <td>Find sessions which ran on product version <code>1.0.0</code></td>
            </tr>
            <tr>
              <td><code>test = test_something</code></td>
              <td>Find sessions which contain a test named <code>test_something</code></td>
            </tr>

          </tbody>
        </table>

      {{/search-help}}
    </form>
  {{/if}}

{{/tool-bar}}

{{#if error}}
  <div class="container">
    <div class="alert alert-danger text-center">
      {{error}}
    </div>
  </div>
{{else}}
  {{query-results
    results=sessions
    page=(mut page)
    page_size=(mut page_size)
    show_successful=show_successful
    show_unsuccessful=show_unsuccessful
    show_abandoned=show_abandoned
    show_skipped=show_skipped
  }}
{{/if}}
