
<div class="container-fluid">
  <table class="table data">
    <tbody>
      {{#each-in all_metadata as |name value|}}
	{{#if (and (not (s-starts-with name "slash::")) (not (eq name "slash")))}}
          <tr>
            <td>{{capitalize (undasherize name)}}</td>
            <td>{{elements/copyable-text value=value}}</td>
          </tr>
        {{/if}}
      {{/each-in}}
    </tbody>
  </table>
</div>


{{#if slash_tags}}
  <div class="module">
    <div class="title">
      Test Tags
    </div>
    <div class="content">
      <dl class="dl-horizontal">
	{{#each slash_tags_without_values as |name|}}
	  <dt>{{name}}</dt>
	  <dd></dd>
	{{/each}}
	{{#each-in slash_tags.values as |name value|}}
	  <dt>{{name}}</dt>
	  <dd>{{value}}</dd>
	{{/each-in}}
      </dl>
    </div>
  </div>
{{/if}}

{{#if slash_version}}
  <div class="module">
    <div class="content"><img src="/static/assets/img/slash-icon-black.svg" class="text-height"> {{slash_version}}</div>
  </div>
{{/if}}

{{#if slash_commandline}}
  <div class="module">
    <div class="title">Command-line</div>
    <div class="content">
      <div class="console">
        {{slash_commandline}}
      </div>
    </div>
  </div>
{{/if}}
