
<div class="m-3 card overflow-hidden">
  <div class="card-header">
    Metadata
  </div>
  <div class="card-body p-3">
    <table class="table table-sm table-bordered">
      <tbody>
        {{#each all_metadata as |item|}}
          <tr>
            <td class="text-muted">{{capitalize (undasherize item.name)}}</td>
            <td class="text-truncate">
              {{#if (s-starts-with item.value "http://" "https://")}}

                {{linkify item.value}}
              {{else}}
                {{item.value}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{#if slash_tags}}
  <div class="module">
    <div class="title">
      Test Tags
    </div>
    <div class="content">
      <dl class="dl-horizontal">
	    {{#each slash_tags_without_values as |name|}}
	      <dt>{{name}}</dt>
	      <dd></dd>
	    {{/each}}
	    {{#each-in slash_tags.values as |name value|}}
	      <dt>{{name}}</dt>
	      <dd>{{value}}</dd>
	    {{/each-in}}
      </dl>
    </div>
  </div>
{{/if}}

