<div class="col-md-2">
    {{#link-to 'test' test.display_id}}{{tests/status-label test=test}}{{/link-to}}
    {{#link-to 'test.warnings' test.display_id}}{{artifact-counter warnings=test.num_warnings}}{{/link-to}}
    {{#link-to 'test.errors' test.display_id}}{{artifact-counter errors=test.num_errors}}{{/link-to}}
</div>
{{#link-to 'test' test.display_id}}
    <div class="col-md-6">
      {{test.info.name}}
    </div>
    <div class="col-md-2">
      {{humanized-time start_time=test.start_time end_time=test.end_time is_running=test.is_running}}
     </div>
     <div class="col-md-2">
      {{humanized-duration start_time=test.start_time end_time=test.end_time}}
    </div>
{{/link-to}}
