<div class="col-md-8">
  <div class="counter warnings {{if (eq test.num_warnings 0) 'noshow'}}">
    <i class="fa fa-warning"></i> {{test.num_warnings}}
  </div>
  <div class="status-label {{status}}">{{status}}</div>
  {{test.info.name}}
</div>
<div class="col-md-4">
</div>
