{{#link-to 'test' test.display_id}}
<div class="col-md-1">
  {{artifact-counter warnings=test.num_warnings}}
  {{artifact-counter errors=test.num_errors}}
</div>
<div class="col-md-7">
  {{tests/status-label test=test}}
  {{test.info.name}}
</div>
<div class="col-md-2">
  {{humanized-time start_time=test.start_time end_time=test.end_time is_running=test.is_running}}
 </div>
 <div class="col-md-2">
  {{humanized-duration start_time=test.start_time end_time=test.end_time}}
</div>
{{/link-to}}
