<div class="col-md-8">
  {{artifact-counter warnings=test.num_warnings fixed_width=true}}
  {{tests/status-label test=test}}
  {{test.info.name}}
</div>
<div class="col-md-2">
  {{humanized-time start_time=test.start_time end_time=test.end_time is_running=test.is_running}}
 </div>
 <div class="col-md-2">
  {{humanized-duration start_time=test.start_time end_time=test.end_time}}
</div>
