<div class="error-details clickable">
  <div class="row row-fluid">
    <div class="col-sm-12">
      <strong>{{err.exception_type}}</strong>: {{err.exception}}<small><span class="error-time"> -- On {{moment-time unix=err.timestamp}} ({{moment-time ago=err.timestamp}})</span></small>
    </div>
  </div>

  {{#if expanded}}
  {{#each err.traceback as |frame|}}
    <div class="row row-fluid">
      <div class="col-sm-6">
        <pre>{{frame.code_string}}</pre>
      </div>
    </div>
  {{/each}}
  {{/if}}
</div>
