{{#if commenting}}
  {{#modal-dialog close="cancel_commenting"
     targetAttachment="center"
     translucentOverlay=true}}
    <div class="container-fluid">
      {{textarea value=new_comment cols="80" rows="6" class="form-control" placeholder="Write something here"}}
    </div>
    <div class="container-fluid add-margin-top">
      {{#if new_comment}}
        <button class="btn btn-default pull-right add-margin-left" {{action "finish_commenting"}}>Submit</button>
      {{/if}}
      <button class="btn btn-danger pull-right add-margin-left" {{action "cancel_commenting"}}>Cancel</button>
    </div>
  {{/modal-dialog}}
{{/if}}


{{#each items as |item|}}

  <li>
    {{activity/activity-item item=item parent=parent}}
  </li>
{{/each}}

<button class="btn btn-default" {{action "start_commenting"}}>
  <i class="fa fa-comment"></i> Add comment...
</button>
