  <div class="frame-info">
    {{expand-toggle expanded=(mut frame.expanded)}}
    <span class="mono">{{frame.filename}}</span>, line <strong>{{frame.lineno}}</strong>, in <strong class="mono">{{frame.func_name}}</strong>:
  </div>

  {{# if frame.expanded }}

    <div class="frame-code">
      {{#each frame.code_lines_before as |line num|}}
        <div class="line around"><span class="lineno">{{sub frame.lineno (sub frame.code_lines_before.length num)}}.</span>{{line}}</div>
      {{/each}}
      <div class="line main"><span class="lineno">{{frame.lineno}}.</span>{{frame.code_string}}</div>
      {{#each frame.code_lines_after as |line num|}}
        <div class="line around"><span class="lineno">{{add frame.lineno (add num 1)}}.</span>{{line}}</div>
      {{/each}}
    </div>

    {{#if (or has_globals has_locals)}}
      <div class="traceback-frame-vars">
        {{#each sorted_locals as |var|}}
          {{#if (or (not var.is_attribute) self_expanded)}}
	    <div class="variable">
	      <div class="{{if var.is_attribute 'attribute' 'name'}}">
                {{#if (eq var.name 'self')}}
                  <i class="clickable fa fa-caret-{{if self_expanded 'down' 'right'}}" {{action (toggle "self_expanded" this)}}></i>
                {{/if}}
                {{var.display_name}}
              </div>
	      <div class="value">{{var.value.value}}</div>
	    </div>
          {{/if}}
        {{/each}}
        {{#each sorted_globals as |var|}}
	  <div class="variable">
	    <div class="name">{{var.name}}</div>
	    <div class="value">{{var.value.value}}</div>
	  </div>
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
