<div class="traceback-frame {{if frame.is_in_test_code 'test-code'}}">
  {{#if (or has_globals has_locals)}}
  <button class="btn btn-default btn-expand pull-right" {{action "toggle"}}>
    {{#if show_vars }}
    <i class="fa fa-compress"></i> Collapse variables
    {{else}}
    <i class="fa fa-expand"></i> Expand variables
    {{/if}}
  </button>
  {{else}}
  <span class="pull-right pad-small faint"> <i class="fa fa-warning"></i> Frame variable information unavailable</span>
  {{/if}}

  <div class="frame-info">

    {{frame.filename}}, line <strong>{{frame.lineno}}</strong> (in <strong>{{frame.func_name}}</strong>)
  </div>

  <div class="frame-code"><span class="lineno">{{frame.lineno}}.</span>{{frame.code_string}}</div>

  {{#if show_vars}}
    {{#if (or has_globals has_locals)}}
      <div class="traceback-frame-vars">
        {{#each-in frame.locals as |name value|}}
	  <div class="variable">
	    <div class="name">{{name}}</div>
	    <div class="value">{{value.value}}</div>
	  </div>
        {{/each-in}}
	{{#each-in frame.globals as |name value|}}
	  <div class="variable">
	    <div class="name">{{name}}</div>
	    <div class="value">{{value.value}}</div>
	  </div>
        {{/each-in}}
      </div>
    {{/if}}
  {{/if}}
</div>
