<div class="frame-info p-2 overflow-hidden">
  {{expand-toggle expanded=(mut frame.expanded)}}
  <span class="mono">{{frame.filename}}</span>, line <strong>{{frame.lineno}}</strong>, in <strong class="mono">{{frame.func_name}}</strong>:
</div>

{{# if frame.expanded }}

  <div class="frame-code m-2 overflow-hidden">
    {{#each frame.code_lines_before as |line num|}}
      <div class="line around"><span class="lineno">{{sub frame.lineno (sub frame.code_lines_before.length num)}}.</span>{{line}}</div>
    {{/each}}
    <div class="line main"><span class="lineno">{{frame.lineno}}.</span>{{frame.code_line}}</div>
    {{#each frame.code_lines_after as |line num|}}
      <div class="line around"><span class="lineno">{{add frame.lineno (add num 1)}}.</span>{{line}}</div>
    {{/each}}
  </div>

  {{#if variables}}
    <div class="p-3 overflow-hidden variables">
      {{variable-table variables=variables}}
    </div>
  {{/if}}
{{/if}}
