{{#if user}}
  <p>
    By {{#link-to "user.sessions" session_model.user_email}}
    {{user.full_name}} {{users/user-avatar user=user real_email=session_model.real_email}}
    {{/link-to}}

    {{#if (and session_model.real_email (not (eq session_model.real_email user.email))) }}
      <div class="faint">
	Run through <strong>{{session_model.real_email}}</strong> {{users/user-avatar email=session_model.real_email}}
      </div>
    {{/if}}
  </p>
{{/if}}

<p>
  {{status-label status=session_model.computed_status}}
</p>

{{#if session_model.is_abandoned}}
  <p class="faint">
    The session stopped sending keepalive signals to Backslash and therefore considered defunct.
  </p>
{{/if}}

<p>
  {{#if session_model.num_errors}}
    <div class="label label-danger">
      <i class="fa fa-exclamation-circle"></i>
      {{session_model.num_errors}} Session Errors
    </div>
  {{/if}}
</p>


<p>
  {{#if session_model.num_warnings}}
    <div class="label label-warning">
      <i class="fa fa-exclamation-triangle"></i>
      {{session_model.num_warnings}} Session Warnings
    </div>
  {{/if}}
</p>

<p>
  {{#if session_model.num_test_warnings}}
    <div class="label label-warning">
      <i class="fa fa-exclamation-triangle"></i>
      {{session_model.num_test_warnings}} Test Warnings
    </div>
  {{/if}}
</p>


<p>
  {{#if session_model.is_abandoned}}
    <i class="fa fa-clock"></i> {{humanized-duration start_time=session_model.start_time end_time=session_model.next_keepalive}} (keepalive stopped)
  {{else}}
    <i class="fa fa-clock"></i> {{humanized-duration start_time=session_model.start_time end_time=session_model.end_time}}
  {{/if}}
</p>

<p>
  <i class="fa fa-hourglass-1"></i> {{moment-time unix=session_model.start_time}}
</p>

<p>
  <i class="fa fa-hourglass-3"></i> {{moment-time unix=session_model.end_time}}
</p>

{{#each session_model.subjects as |subject|}}
  <p>
    <i class="fa fa-rocket"></i>
    {{#link-to 'subject' subject.name}}
      <strong>{{subject.name}}</strong>
    {{/link-to}}
    <span class="label-fine">{{subject.version}}</span>
  </p>
{{/each}}

{{#if session_model.infrastructure }}
  <p>
  {{infrastructure-icon session_model.infrastructure}} {{session_model.infrastructure}}
  </p>
{{/if}}

{{#if show_breakdown}}
  {{session-breakdown session=session_model tooltip_position="bottom"}}
{{/if}}
