<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th colspan="2">
        {{title}}
      </th>
    </tr>
  </thead>
  <tbody>

    {{#each data as |var|}}
      <tr>
        <td class="text-muted">
          {{#if normalize_names}}
            {{capitalize (undasherize var.name)}}
          {{else}}
            {{var.name}}
          {{/if}}
          {{#if var.multiline}}
            <span class="ml-2 clickable" {{action (toggle "collapsed" var)}}>
              {{fa-icon (if var.collapsed "caret-right" "caret-down")}}
            </span>
          {{/if}}
        </td>
        <td class="{{if (and var.multiline (not var.collapsed)) 'multiline'}}">{{#if (s-starts-with var.value "http://" "https://")}}{{linkify var.value}}{{else}}{{var.value}}{{/if}}{{#copy-button clipboardText=var.value classNames="ml-2" title="Copy to clipboard"}}<i class="fa fa-copy"></i>{{/copy-button}}
        </td>
      </tr>
    {{/each}}

  </tbody>
</table>
