<div class="container-fluid" style="margin: 1em">
  <div class="col-sm-3"><strong>{{name}}</strong></div>
  <div class="col-sm-9">
    <button {{action "toggle"}} class="btn toggle-btn {{if (not enabled) 'disabled'}} {{if value 'btn-success' 'btn-danger'}}">{{if value 'Yes' 'No'}}</button>
  </div>
</div>
