{{#tool-bar}}
  <div class="filter-controls">
    {{outlet "filter-controls"}}
  </div>
  {{#search-bar search=(mut search) searching=searching}}
      <table class="table table-striped">
	<tbody>
	  <tr>
	    <td><code>name = test_something</code></td>
	    <td>Find tests whose name is <code>test_something</code></td>
	  </tr>
          <tr>
	    <td><code>start_time &lt; -2d</code></td>
	    <td>Find tests which started in the past two days </td>
	  </tr>
          <tr>
	    <td><code>end_time &gt; -2d</code></td>
	    <td>Find tests which ended in the past two days </td>
	  </tr>
          <tr>
	    <td><code>at = '26/11/2016 13:08:40'</code></td>
	    <td>Find tests which were running at the given date</td>
	  </tr>
	  <tr>
	    <td><code>class = MyClass and name != test_first</code></td>
	    <td>Find tests from the <code>MyClass</code> class whose name isn't <code>test_first</code></td>
	  </tr>
	  <tr>
	    <td><code>user = someuser@somedomain.com</code></td>
	    <td>Find tests run by the specified email (or first/last name)</td>
	  </tr>
	  <tr>
	    <td><code>name ~ string</code></td>
	    <td>Find tests whose names contain the string <code>string</code></td>
	  </tr>
          <tr>
            <td><code>{{display-name "subject"}} = microwave01</code></td>
            <td>Find tests which ran on <code>microwave01</code></td>
          </tr>
          <tr>
            <td><code>{{display-name "related_entity"}} = some_related</code></td>
            <td>Find tests which with <code>some_related</code></td>
          </tr>
          <tr>
            <td><code>product_version = 1.0.0</code></td>
            <td>Find tests which ran on product version <code>1.0.0</code></td>
          </tr>
	</tbody>
      </table>
  {{/search-bar}}
{{/tool-bar}}

{{#if error}}
  <div class="container">
    <div class="alert alert-danger text-center">
      {{error}}
    </div>
  </div>
{{else}}
  {{query-results results=tests page=(mut page) show_user=true}}
{{/if}}
