<div class="info clickable" {{action 'toggle_expanded'}}>
  <i class="fa {{if expanded 'fa-minus' 'fa-plus'}} '"></i>

  {{moment-time unix=error.timestamp}} ({{moment-time ago=error.timestamp}})
</div>

{{#liquid-if expanded class="slide"}}{{error-detail error=error}}{{else}}<div class="message">{{error.abbreviated_message}}</div>{{/liquid-if}}
