<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="{{dropdown_id}}">{{title}}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="{{dropdown_id}}">
    {{#if options}}
       {{#each options as |opt|}}
	 <li class="pad-medium clickable">
	   <a {{action "set_value" opt}}>{{opt}}</a>
	 </li>
       {{/each}}
    {{/if}}
    {{yield}}
  </ul>
</li>
