{{#tool-bar}}
  <ul class="navbar-nav">
    <span class="navbar-text">
      {{#if model.isNew}}
        Create Replication
      {{else}}
        Edit Replication
      {{/if}}
    </span>
  </ul>
{{/tool-bar}}

<div class="container p-3">
  <form>
    <div class="form-group">
      <label>URL or hostname</label>
      {{input class="form-control" value=model.url placeholder="URL or hostname" required=true}}
    </div>
    <div class="form-group">
      <label>Index name</label>
      {{input type="text" class="form-control" value=model.index_name placeholder="default is backslash" required=true}}
    </div>
    <div class="form-group">
      <label>Credentials</label>
      {{input type="text" class="form-control" value=model.username placeholder="User Name (Optional)"}}
    </div>
    <div class="form-group">
      {{input type="password" class="form-control" value=model.password placeholder="Password (Optional)"}}
    </div>
    <input type="submit" class="btn btn-success" {{action "save"}} value="{{if model.isNew 'Create' 'Save'}}">
    {{#if (not model.isNew)}}
      <button class="btn btn-danger" {{action "cancel"}}>Cancel</button>
    {{/if}}
  </form>
</div>
