{{#if show_total_count}}
  <p class="faint">{{or session.total_num_tests session.num_finished_tests}} total tests</p>
{{/if}}
<div class="inner">

  <div class="success">

    {{#bs-tooltip}}
      {{session.num_successful_tests}} successful tests
    {{/bs-tooltip}}
    <i class="fa fa-check"></i> {{session.num_successful_tests}}
  </div>

  {{# with (add session.num_failed_tests session.num_error_tests) as |num_errors|}}
    <div class="failed">
      {{#bs-tooltip}}
        {{num_errors}} unsuccessful tests
      {{/bs-tooltip}}
      <i class="fa fa-times"></i> {{num_errors}}
    </div>
  {{/with}}

  {{#if session.num_skipped_tests}}
    <div class="skipped">
      {{#bs-tooltip}}
        {{session.num_skipped_tests}} skipped tests
      {{/bs-tooltip}}
      <i class="fa fa-share"></i> {{session.num_skipped_tests}}
    </div>
  {{/if}}

  {{#if session.num_interrupted_tests}}
    <div class="interrupted">
      {{#bs-tooltip}}
        {{session.num_interrupted_tests}} interrupted tests
      {{/bs-tooltip}}
      <i class="fa fa-exclamation-circle"></i> {{session.num_interrupted_tests}}
    </div>
  {{/if}}

  {{#with (sub (or session.total_num_tests session.num_finished_tests) session.num_finished_tests) as |num_not_run|}}
    <div class="not-run">
      {{#bs-tooltip}}
        {{num_not_run}} tests not run
      {{/bs-tooltip}}
      <i class="fa fa-question-circle"></i> {{num_not_run}}
    </div>

  {{/with}}


  {{#if session.num_errors}}
    <div class="errors">
      {{#bs-tooltip}}
        {{session.num_errors}} session errors
      {{/bs-tooltip}}
      <i class="fa fa-exclamation-circle"></i> {{session.num_errors}}
    </div>
  {{/if}}


  {{#if session.total_num_warnings}}
    <div class="warning">
      {{#bs-tooltip}}
        {{session.total_num_warnings}} total warnings
      {{/bs-tooltip}}
      <i class="fa fa-exclamation-triangle"></i> {{session.total_num_warnings}}
    </div>
  {{/if}}
</div>
