<div class="progress {{if is_running 'running'}}">
  <div class="progress-bar progress-bar-success {{if is_running 'progress-bar-striped active'}}" style={{successPercent}}>
  </div>
  <div class="progress-bar progress-bar-warning {{if is_running 'progress-bar-striped active'}}" style={{skipPercent}}>
  </div>
  <div class="progress-bar progress-bar-danger {{if is_running 'progress-bar-striped active'}}" style={{failedPercent}}>
  </div>
  {{#if is_running }}
    <div class="progress-bar progress-bar-striped active" style="width: 30%"></div>
  {{/if}}
</div>
