{{#tool-bar}}
  <form class="navbar-form navbar-right">
    {{# if (can "archive_session") }}
      <button class="btn" {{action "toggle_archive"}}><i class="fa fa-archive"></i> {{if session_model.archived 'Unarchive' 'Archive'}}</button>

      {{# if needs_investigation }}
        <button class="btn btn-default" {{action "start_investigating"}}><i class="fa fa-check"></i> Mark as Investigated</button>

      {{else}}
        {{# if session_model.investigated }}
          <button class="btn btn-danger" {{action "toggle_investigated"}}><i class="fa fa-times"></i> Mark not Investigated</button>
        {{/if}}
      {{/if}}
    {{/if}}


  </form>
  <p class="navbar-text">Session {{elements/copyable-text value=session_model.display_id}}</p>

{{/tool-bar}}


{{#if investigating}}
  {{#modal-dialog close="cancel_investigating"
     targetAttachment="center"
     translucentOverlay=true}}
    <p>You are marking this session as <strong>investigted</strong></p>
    <div class="container-fluid">
      {{textarea value=investigate_conclusion cols="80" rows="6" class="form-control" placeholder="Investigation conclusion (e.g. 'Test bug')"}}
    </div>
    <div class="container-fluid add-margin-top">
      {{#if investigate_conclusion}}
        <button class="btn btn-default pull-right add-margin-left" {{action "finish_investigating"}}>Submit</button>
      {{/if}}
      <button class="btn btn-danger pull-right add-margin-left" {{action "cancel_investigating"}}>Cancel</button>
    </div>
  {{/modal-dialog}}
{{/if}}


{{hr-separator title="Overview"}}
<div class="container-fluid session-details">
  <div class="col-md-2">
    {{#link-to "user.sessions" session_model.user_email}}
      {{users/user-avatar user=user real_email=session_model.real_email large=true}}
    {{/link-to}}
  </div>
  <div class="col-md-8">
    {{session-breakdown session=session_model tooltip_position="bottom"}}
    <table class="table details">
      <tr>
        <td class="faint">Run time: </td>
        <td>
          <strong>{{moment-range start_time=session_model.start_time end_time=session_model.end_time expanded=true}}</strong>
        </td>
      </tr>
      <tr>
        <td class="faint">Duration: </td>
        <td>
          <strong>{{humanized-duration start_time=session_model.start_time end_time=session_model.end_time}}</strong>
        </td>
      </tr>
      <tr>
        <td class="faint">Test Subjects:</td>
        <td>
          {{#each session_model.subjects as |subject|}}
            <i class="fa fa-rocket"></i>
            <strong>{{subject.name}}</strong> ({{subject.product}} v{{subject.version}}, r{{subject.revision}})
          {{/each}}
        </td>
      </tr>
      {{#if session_model.infrastructure }}
        <tr>
          <td class="faint">Infrastructure</td>
          <td>{{infrastructure-icon session_model.infrastructure}} {{session_model.infrastructure}}
            {{#if metadata.slash.version}}
              ({{metadata.slash.version}})
            {{/if}}
          </td>
        </tr>
      {{/if}}
      <tr>
        <td colspan="2">
          {{#link-to 'session.warnings'}}{{artifact-counter warnings=session_model.num_warnings caption="Session Warnings"}}{{/link-to}}
          {{artifact-counter warnings=session_model.num_test_warnings caption="Test Warnings"}}
          {{#link-to 'session.errors'}}{{artifact-counter errors=session_model.num_errors caption="Session Errors"}}{{/link-to}}
        </td>
      </tr>

    </table>

  </div>
</div>

{{hr-separator title="Tests"}}

<div class="container-fluid">
  {{query-results results=tests update_filter=(action "update_filter") goto_page=(action "goto_page") route_to="route_to"}}
</div>

{{hr-separator title="Additional Information"}}

{{metadata/metadata-table metadata=metadata additional=additional_metadata }}

{{#if session_model.related}}
  {{hr-separator title="Related Entities"}}
  {{metadata/related-entities related=session_model.related}}
{{/if}}

{{hr-separator title="Activity"}}

{{activity/activity-timeline items=activity parent=session_model comment_added="refreshRoute"}}
