{{#tool-bar}}
  <p class="navbar-text">{{tests/test-name info=test_info show_file=true}}</p>
  {{outlet "filter-controls"}}
{{/tool-bar}}

{{hr-separator title="Stats"}}

{{hr-separator title="Tests"}}

<div class="container-fluid">
  {{query-results results=tests
    page=(mut page)
    page_size=(mut page_size)
    show_successful=(mut show_successful)
    show_unsuccessful=(mut show_unsuccessful)
    show_abandoned=(mut show_abandoned)
    show_skipped=(mut show_skipped)
  }}
</div>

