<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Backslash</a>
    </div>
    {{#if session.user_info.email }}
    <ul class="nav navbar-nav">
        <li>{{#link-to 'sessions'}}Sessions{{/link-to}}</li>
    </ul>

    <form class="navbar-form navbar-right">
      <button type="submit" class="btn btn-default" {{action "invalidateSession"}}>Logout</button>
    </form>


    <p class="navbar-text navbar-right">
      {{#link-to "profile" tagName="span" class="clickable"}}<img class="img-circle" src="{{gravatar-url session.content.user_info.email}}?s=20"> {{session.content.user_info.name}} {{/link-to}}
    </p>
    {{/if}}
  </div>


</nav>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <p class="navbar-text">
      {{title}}
    </p>
  </div>

</nav>



{{outlet name="main"}}
