<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

  <!-- image preloads in case of disconnection -->
  <img src="static/assets/img/backslash-fire.jpg" style="display: none">
  <!-- /image preloads -->

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img id="navbar-brand-img" src="/static/assets/img/backslash-logo.png"></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="spinner"></div>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      {{#if session.data.authenticated.user_info}}
	{{# with session.data.authenticated.current_user as |u|}}
	  {{#if u.email }}
            <ul class="nav navbar-nav">
              {{#nav-link to="sessions"}}Sessions{{/nav-link}}
              {{#nav-link to="tests"}}Tests{{/nav-link}}
              {{#nav-link to="cases"}}Test Cases{{/nav-link}}
              {{#nav-link to="subjects"}}{{capitalize (pluralize (display_name "subject"))}}{{/nav-link}}
              {{#nav-link to="users"}}Users{{/nav-link}}
              {{# if (can "admin") }}
		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Admin <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
            {{#nav-link to="admin.migrations"}}Migrations{{/nav-link}}
            {{#nav-link to="admin.replications"}}Replications{{/nav-link}}
		  </ul>
		</li>
              {{/if}}
              {{# if runtime_config.debug }}
		        <li class="dropdown">
		          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Debug <span class="caret"></span>
		          </a>
		          <ul class="dropdown-menu">
                    {{#nav-link to="component-proofing"}}Component Proofing Page{{/nav-link}}
		            <li><a href="/styleguide">Style Guide...</a></li>
		          </ul>
		        </li>
              {{/if}}
            </ul>
            <form class="navbar-form navbar-right">
              <button type="submit" class="btn btn-default logout" {{action "logout"}}>Logout</button>
            </form>

            <p class="navbar-text navbar-right">
              {{#link-to "user.sessions" u.email tagName="span" class="clickable"}}{{users/user-avatar user=u}} {{u.display_name}} {{/link-to}}
            </p>
	  {{/if}}
	{{/with}}
      {{/if}}
    </div>
  </div>
  {{# if state.loading}}
    <div class="loading-indicator"></div>
  {{/if}}
</nav>


{{keyboard-shortcuts}}

{{#if (and (can "admin") admin_alerts)}}
  <div class="container add-margin-top">

    {{#each admin_alerts as |alert|}}
      <div class="alert alert-danger" role="alert">
        {{alert.message}}
      </div>
    {{/each}}
  </div>
{{/if}}


{{outlet name="main"}}

{{#if (not loading) }}
<footer class="footer">
  <div class="container text-center">
    <p class="text-muted">
      Backslash {{version}}
    </p>
  </div>
</footer>

{{/if}}

{{ember-load-remover}}
