{{#bs-navbar type='dark' position='sticky' backgroundColor='dark' as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}<img id="navbar-brand-img" src="assets/img/backslash-logo.png" style="height: 2em">{{/link-to}}
  </div>

  {{#if session.data.authenticated.user_info}}
    {{# with session.data.authenticated.current_user as |u|}}
      {{#navbar.content}}
        {{#navbar.nav as |nav|}}
          {{#nav.item}}{{#nav.link-to "sessions"}}Sessions{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "tests"}}Tests{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "cases"}}Test Cases{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "subjects"}}{{capitalize (pluralize (display_name "subject"))}}{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "users"}}Users{{/nav.link-to}}{{/nav.item}}

          {{#if (can "admin")}}
            {{#nav.dropdown as |dd|}}
              {{#dd.toggle}}Admin{{/dd.toggle}}
              {{#dd.menu as |ddm|}}
                {{#ddm.item}}{{#ddm.link-to "admin.migrations"}}Migrations{{/ddm.link-to}}{{/ddm.item}}
                {{#ddm.item}}{{#ddm.link-to "admin.replications"}}Replications{{/ddm.link-to}}{{/ddm.item}}
              {{/dd.menu}}
            {{/nav.dropdown}}

          {{/if}}

          {{#if runtime_config.debug}}
            {{#nav.dropdown as |dd|}}
              {{#dd.toggle}}Debug{{/dd.toggle}}
              {{#dd.menu as |ddm|}}
                {{#ddm.item}}{{#ddm.link-to "component-proofing"}}Component Proofing{{/ddm.link-to}}{{/ddm.item}}
                {{#ddm.item}}<a href="/styleguide" class="dropdown-item">Style Guide...</a>{{/ddm.item}}
              {{/dd.menu}}
            {{/nav.dropdown}}
          {{/if}}

        {{/navbar.nav}}
      {{/navbar.content}}


      {{#navbar.nav as |nav|}}
        {{#nav.item}}
          {{#link-to "user.sessions" u.email class="nav-link"}}
            {{users/user-avatar user=u}} {{u.display_name}}
          {{/link-to}}
        {{/nav.item}}
        <form class="form-inline" class="mr-sm-2">
          <button type="submit" class="btn btn-secondary my-2 my-sm-0 logout" {{action "logout"}}>Logout</button>
        </form>
      {{/navbar.nav}}
    {{/with}}
  {{/if}}
{{/bs-navbar}}


{{keyboard-shortcuts}}

{{#if (and (can "admin") admin_alerts)}}
  <div class="container mt-3">

    {{#each admin_alerts as |alert|}}
      <div class="alert alert-danger" role="alert">
        {{alert.message}}
      </div>
    {{/each}}
  </div>
{{/if}}


{{outlet name="main"}}

{{#if (not loading) }}
  <footer class="footer">
    <div class="container text-center">
      <p class="text-muted">
        Backslash {{version}}
      </p>
    </div>
  </footer>

{{/if}}

{{ember-load-remover}}
