<form class="form-inline" role="search">
  {{#escape-focus}}
    {{input class="form-control search-bar" id="search-field" placeholder=hint value=entered_search}}
  {{/escape-focus}}
  <div class="input-group">

    <button class="btn btn-secondary mx-2" type="submit" {{action "search"}}>
      {{#if searching}}
        <span class="spinner-border spinner-border-sm"></span>
      {{else}}
        {{fa-icon "search"}}
      {{/if}}
    </button>

  </div>

  {{#if show_help}}
    {{#search-help}}
      {{yield}}

    {{/search-help}}
  {{/if}}
</form>
