  <div class="comment-container">
    <div class="row">
      <div class="col-sm-1">
        <img class="avatar img-circle img-thumbnail" alt=""
                src="{{gravatar-url email}}"/>
      </div>
      <div class="col-sm-11">
        <div class="well">
          {{#if comment.edited}}
            <p>
          {{textarea value=comment.comment class="form-control" placeholder="Say something"}}
            </p>
            <p>
            {{#if comment.has_text }}
            <button class="btn btn-success" {{action "save"}}>Save</button>
            {{/if}}
            </p>
          {{else}}

            <p>
              {{#if comment.can.delete}}
                <div class="pull-right">
                  <i class="fa fa-close clickable danger" {{action "delete"}}></i>
                </div>
              {{/if}}
              {{comment.comment}}
            </p>

          {{/if}}


        </div>
      </div>
    </div>
  </div>
