{{#tool-bar back_button=true}}
  <button class="btn navbar-right navbar-btn {{if model.archived '' 'btn-danger'}}" {{action "toggle_archive"}}><i class="fa fa-archive"></i> {{if model.archived 'Unarchive' 'Archive'}}</button>

{{/tool-bar}}
<div class="container">

  {{details-tabs route=controllers.application.currentPath obj=model}}
  <div class="tabs-details">
{{outlet}}
  </div>
</div>
