{{#tool-bar}}

  <ul class="navbar-nav">
    <span class="navbar-text">
      Session {{elements/copyable-text value=session_model.display_id}}
    </span>
  </ul>

  <ul class="navbar-nav ml-auto">

    {{#if session_model.delete_at }}
      <span class="navbar-text">
        <i class="fa fa-warning"></i> This session will be deleted {{moment-time ago=session_model.delete_at allow_future=true}}
      </span>
      {{#if (can "admin")}}
        <button {{action "preserve"}} class="ml-5 btn btn-secondary undo-discard-btn">Preserve</button>
      {{/if}}
    {{else}}
      {{#if (can "admin")}}
        <button {{action "discard"}} class="btn discard-btn ml-5 btn-secondary" title="Marks this session for deletion. Discarded sessions are deleted after a predefined grace period, and cannot be recovered after that point."><i class="fa fa-trash"></i> Discard</button>
      {{/if}}
    {{/if}}
  </ul>


{{/tool-bar}}

{{#bs-nav type="tabs" as |nav|}}

  {{#nav.item}}{{#nav.link-to 'session.index'}}Overview{{/nav.link-to}}{{/nav.item}}
  {{#if session_model.num_errors}}
    {{#nav.item}}{{#nav.link-to 'session.errors'}}Session Errors <span class="badge badge-pill badge-danger">{{session_model.num_errors}}</span>{{/nav.link-to}}{{/nav.item}}
  {{/if}}
  {{#if session_model.num_interruptions}}
	{{#nav.item}}
      {{#nav.link-to 'session.interruptions'}}
	    Interruptions <span class="badge badge-pill badge-danger">{{session_model.num_interruptions}}</span>
	  {{/nav.link-to}}
    {{/nav.item}}
  {{/if}}

  {{#with session_model.num_warnings as |num_warnings|}}
	{{#if num_warnings}}
	  {{#nav.item}}{{#nav.link-to "session.warnings" session_model.display_id}}
		Session Warnings <span class="badge badge-pill badge-warning">{{num_warnings}}</span>
	  {{/nav.link-to}}{{/nav.item}}
	{{/if}}
  {{/with}}

  {{#nav.item}}{{#nav.link-to "session.info"}}Info{{/nav.link-to}}{{/nav.item}}

  {{#if session_model.is_parent_session}}
    {{#nav.item}}
      {{#nav.link-to "session.children"}}
        Child Sessions
      {{/nav.link-to}}
    {{/nav.item}}
  {{/if}}

  {{#nav.item}}
    {{#nav.link-to "session.comments"}}
      Comments
	  {{#if session_model.num_comments}}
		<div class="badge badge-pill badge-secondary">{{session_model.num_comments}}</div>
	  {{/if}}
	{{/nav.link-to}}
  {{/nav.item}}

  {{#if current_test }}
	{{#if (s-starts-with router.currentRouteName 'session.test') }}
      {{#nav.item}}
        <a class="nav-link">
		  Test #{{current_test.test_index}}
        </a>
      {{/nav.item}}
	{{else}}
	  {{#nav.item}}
	    {{#nav.link-to (if current_test.has_any_error 'session.test.errors' 'session.test') session_model.id current_test.id}}
		  Test #{{current_test.test_index}}
	    {{/nav.link-to}}
	  {{/nav.item}}
	{{/if}}
  {{/if}}
{{/bs-nav}}

<div>
  {{outlet}}
</div>
