{{#tool-bar}}
  <form class="navbar-form navbar-right">
    {{# if session.data.authenticated.user_info.can.moderate }}
    <button class="btn" {{action "toggle_archive"}}><i class="fa fa-archive"></i> {{if model.archived 'Unarchive' 'Archive'}}</button>

    {{# if needs_investigation }}
      {{#link-to "session.investigate" tagName="button" classNames="btn btn-mild-green"}}
        <i class="fa fa-check"></i> Mark Investigated
      {{/link-to}}

    {{else}}
      {{# if model.investigated }}
        <button class="btn btn-danger" {{action "toggle_investigated"}}><i class="fa fa-times"></i> Mark not Investigated</button>
      {{/if}}
    {{/if}}
    {{/if}}


  </form>
  <p class="navbar-text">Session {{model.display_id}}</p>

{{/tool-bar}}
<div class="container">

  <ul class="nav nav-tabs" role="tablist">
    {{#nav-link to="session.index"}}Overview{{/nav-link}}
    {{#nav-link to="session.tests"}}Tests{{/nav-link}}
    {{#if (gt model.num_errors 0)}}
      {{#nav-link to="session.errors"}}Errors <span class="label label-danger label-badge">{{model.num_errors}}</span>{{/nav-link}}
    {{/if}}
    {{#if (gt model.num_warnings 0)}}
      {{#nav-link to="session.warnings"}}Warnings <span class="label label-warning label-badge">{{model.num_warnings}}</span>{{/nav-link}}
    {{/if}}
    {{#nav-link to="session.comments"}}Comments{{/nav-link}}
    {{#nav-link to="session.activity"}}Activity{{/nav-link}}
  </ul>
  <div class="tabs-details">
{{outlet}}
  </div>
</div>
