{{#tool-bar}}

  <ul class="navbar-nav">
    <span class="navbar-text">
      {{#if session_model.parent_logical_id}}
        {{#link-to 'session' session_model.parent_logical_id title="Part of a Parallel Session. Click to go to parent"}}
          <i class="fa fa-arrows-alt"></i>
        {{/link-to}}
      {{else}}
        {{#if session_model.is_parent_session}}
          <i class="fa fa-arrows-alt" title="Parallel session"></i>
        {{/if}}
      {{/if}}
      Session {{elements/copyable-text value=session_model.display_id}}
    </span>
  </ul>

  <ul class="navbar-nav ml-auto">

    {{#if session_model.delete_at }}
      <span class="navbar-text">
        <i class="fa fa-warning"></i> This session will be deleted {{moment-time ago=session_model.delete_at allow_future=true}}
      </span>
        {{#if (can "admin")}}
          <button {{action "preserve"}} class="add-margin-left btn undo-discard-btn">Preserve</button>
        {{/if}}
    {{else}}
      {{#if (can "admin")}}
        <button {{action "discard"}} class="btn discard-btn" title="Marks this session for deletion. Discarded sessions are deleted after a predefined grace period, and cannot be recovered after that point."><i class="fa fa-trash"></i> Discard</button>
      {{/if}}
    {{/if}}
  </ul>


{{/tool-bar}}

{{#collapsible-sidebar collapsed=(mut display.session_side_bar_collapsed) as |section|}}
  {{#if section.side}}
    {{session-overview session_model=session_model metadata=metadata user=user timings=timings}}
  {{else}}
    {{#bs-nav type="tabs" as |nav|}}

      {{#nav.item}}{{#nav.link-to 'session.index'}}Tests{{/nav.link-to}}{{/nav.item}}
      {{#if session_model.num_errors}}
        {{#nav.item}}{{#nav.link-to 'session.errors'}}Session Errors <span class="badge badge-pill badge-danger">{{session_model.num_errors}}</span>{{/nav.link-to}}{{/nav.item}}
	  {{/if}}
      {{#if session_model.num_interruptions}}
	    {{#nav.item}}
          {{#nav.link-to 'session.interruptions'}}
	        <a href>Interruptions <span class="badge badge-pill badge-danger">{{session_model.num_interruptions}}</span></a>
	      {{/nav.link-to}}
        {{/nav.item}}
	  {{/if}}

      {{#with session_model.num_warnings as |num_warnings|}}
	    {{#if num_warnings}}
	      {{#nav.item}}{{#nav.link-to "session.warnings"}}
		    Session Warnings <span class="badge badge-pill badge-warning">{{num_warnings}}</span>
	      {{/nav.link-to}}{{/nav.item}}
	    {{/if}}
	  {{/with}}

      {{#nav.item}}{{#nav.link-to "session.info"}}Info{{/nav.link-to}}{{/nav.item}}

      {{#if session_model.is_parent_session}}
        {{#nav.item}}
          {{#nav.link-to "session.children"}}
            Child Sessions
          {{/nav.link-to}}
        {{/nav.item}}
      {{/if}}

	  {{#nav.item}}
        {{#nav.link-to "session.comments"}}
          Comments
	      {{#if session_model.num_comments}}
		    <div class="badge badge-pill badge-light">{{session_model.num_comments}}</div>
	      {{/if}}
	    {{/nav.link-to}}
      {{/nav.item}}

      {{#if current_test }}
	    {{#if (s-starts-with router.currentRouteName 'session.test') }}
          {{#nav.item}}
            <a class="nav-link">
		      Test #{{current_test.test_index}}
            </a>
          {{/nav.item}}
	    {{else}}
	      {{#nav.item}}
	        {{#nav.link-to (if current_test.has_any_error 'session.test.errors' 'session.test') session_model.id current_test.id}}
		      Test #{{current_test.test_index}}
	        {{/nav.link-to}}
	      {{/nav.item}}
	    {{/if}}
	  {{/if}}
    {{/bs-nav}}

    {{outlet}}
  {{/if}}
{{/collapsible-sidebar}}


{{#if investigating}}
  {{#modal-dialog close="cancel_investigating"
     targetAttachment="center"
     translucentOverlay=true}}
    <p>You are marking this session as <strong>investigted</strong></p>
    <div class="container-fluid">
      {{textarea value=investigate_conclusion cols="80" rows="6" class="form-control" placeholder="Investigation conclusion (e.g. 'Test bug')"}}
    </div>
    <div class="container-fluid add-margin-top">
      {{#if investigate_conclusion}}
	    <button class="btn btn-default pull-right add-margin-left" {{action "finish_investigating"}}>Submit</button>
      {{/if}}
      <button class="btn btn-danger pull-right add-margin-left" {{action "cancel_investigating"}}>Cancel</button>
    </div>
  {{/modal-dialog}}
{{/if}}
