<div class="container">
  <div class="row-fluid">
    <div class="col-xs-4 col-xs-offset-8">
      <button class="btn {{if model.archived '' 'btn-danger'}}" {{action "toggle_archive"}}><i class="fa fa-archive"></i> {{if model.archived 'Unarchive' 'Archive'}} this session</button>
    </div>
  </div>
</div>

<div class="container">

  {{details-tabs route=controllers.application.currentPath obj=model}}
  <div class="tabs-details">
{{outlet}}
  </div>
</div>
