{{#tool-bar}}
  <div class="navbar-text">
    Users
  </div>
  {{dropdown-select value=(mut sort) options=sort_options title="Sort"}}
{{/tool-bar}}

<div class="container">

  {{#each users as |user|}}
    {{#link-to 'user' user.email classNames="item user"}}
      {{users/user-avatar user=user}}
      <div class="name" title="{{user.name}}">
        {{user.display_name}}
      </div>
      <div class="small faint vertical-center-flex margin-left-small">
        {{#if user.last_activity}}
          Last active {{moment-time ago=user.last_activity}}
        {{else}}
          Last active: N/A
        {{/if}}
      </div>
    {{/link-to}}
  {{/each}}

  {{infinity-loader infinityModel=users loadingText="Loading..." loadedText=""}}
</div>
