{{#tool-bar}}

  <p class="navbar-text">{{#link-to 'session' session.display_id}} Session {{session.display_id}}{{/link-to}} /
    {{#if test }}
      {{#link-to 'test' test.display_id }}Test {{test.display_id}}{{/link-to}} /
    {{/if}}
    Errors
  </p>

{{/tool-bar}}

<div class="container">

  {{#each errors as |error index|}}

    {{#link-to single_error_route parent_id index classNames="clickable nodecoration"}}
      <div class="box error">
        <div class="info">
          {{moment-time unix=error.timestamp}} ({{moment-time ago=error.timestamp}})
        </div>
        <div class="message">
          {{error.full_message}}
        </div>
      </div>
    {{/link-to}}
  {{/each}}

  {{infinity-loader infinityModel=errors loadingText="Loading..." loadedText=""}}

</div>
