<div class="container">
  {{#if session.isAuthenticated}}
  <p>You're already logged in</p>
  {{else}}
  <div class="row">
    <div class="col-xs-6">
      <form>
        {{#if errors}}
        <div class="alert alert-danger" role="alert">
          {{errors}}
        </div>
        {{/if}}
        <div class="form-group">
          <label for="email">Email Address</label>
          {{input id="email" type="email" value=email class="form-control"}}
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          {{input id="password" type="password" value=password class="form-control"}}
        </div>
      <button {{bind-attr class=":btn :btn-default canSubmit::disabled" }} {{action "login"}}>Login</button>
      </form>
    </div>
  </div>
  {{/if}}
</div>

