<div class="user-info">

{{users/user-avatar email=session.user_email real_email=session.real_email small=true}}
{{session.user_display_name}}
</div>

{{artifact-counter errors=session.num_errors}}
{{artifact-counter warnings=session.total_num_warnings}}
{{artifact-counter comments=session.num_comments}}

{{#each session.subjects as |subject index|}}
  {{#if index}}
      ,
  {{else}}
    <i class="fa fa-rocket"></i>
  {{/if}}
  <strong>{{#link-to 'subject' subject.name bubbles=false}}{{subject.name}}{{/link-to}}</strong>
{{/each}}
  {{session.products_string}}

  {{humanized-time start_time=session.start_time end_time=session.end_time is_running=session.is_running}}
