<div class="main-container">
    <a class="back" {{action 'goBack'}}>back</a>
    <h1>session {{id}}</h1>

    <p>Logical ID: {{logicalId}}</p>
    <p>Status: {{status}}</p>
    <p>Start time: {{properStartTime}}</p>
    <p>End time: {{properEndTime}}</p>
    <p>Product: {{productName}};{{productVersion}};{{productRevision}}</p>
    <p>Hostname: {{hostname}}</p>
    <p>Username: {{userName}}</p>
    <h4 {{bind-attr class="view.metaDataVisible:headerSortUp:headerSortDown"}} {{action 'toggleMetadata' this target='view'}}>Session MetaData:</h4>
    {{#if view.metaDataVisible}}
    {{metadata-table-tree metadata=sessionMetadata}}
    {{/if}}
    {{render "tests"}}

</div>
