<h1>Sessions</h1>
<p>{{view Ember.Checkbox checkedBinding="showRunning"}} Show only running sessions</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Logical ID</th>
        <th>Status</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Product Name</th>
        <th>Product Version</th>
        <th>Product Revision</th>
        <th>Hostname</th>
        <th>User</th>
    </tr>
  {{#each filteredSessions}}
      <tr {{bind-attr class="hasErrors:failed-item"}}>
          <td>{{#link-to 'session' this.id}}{{this.id}}{{/link-to}}</td>
          <td>{{logicalId}}</td>
          <td>{{status}}</td>
          <td>{{properStartTime}}</td>
          <td>{{properEndTime}}</td>
          <td>{{productName}}</td>
          <td>{{productVersion}}</td>
          <td>{{productRevision}}</td>
          <td>{{hostname}}</td>
          <td>{{userName}}</td>
      </tr>
  {{/each}}
</table>
