
<div class="details">
  <div class="user-info">

{{users/user-avatar email=session.user_email real_email=session.real_email small=true}}
    <small>Started by {{#link-to 'user' session.user_email}}{{session.user_display_name}}{{/link-to}}</small>
    {{#if (and session.is_running (not session.is_abandoned))}}
      <i class="fa fa-spinner fa-spin"></i>
    {{/if}}

  </div>

  <div class="subject-info">

{{#each session.subjects as |subject index|}}
  {{#if index}}
      ,
  {{else}}
    <i class="fa fa-rocket"></i>
  {{/if}}
  <strong>{{#link-to 'subject' subject.name bubbles=false}}{{subject.name}}{{/link-to}}</strong><span class="subject-version">{{subject.version}}</span>
{{/each}}
{{session.products_string}}

  </div>

  <div class="times">
  {{moment-time unix=session.start_time}} - {{moment-time unix=session.end_time}}
  </div>

</div>

  <div class="right-marker {{if session.total_num_warnings 'warnings'}}">
{{# if session.total_num_warnings}}
  {{#elements/tool-tip content=(concat session.total_num_warnings " warnings" )}}
    <i class="fa fa-warning"></i>
  {{/elements/tool-tip}}
{{/if}}
  </div>
