<div class="main-container">
    <a class="back" {{action 'goBack'}}>back</a>
    <h1>session {{model.id}}</h1>

    <p>Logical ID: {{model.logicalId}}</p>
    <p>Status: {{model.status}}</p>
    <p>Start time: {{model.properStartTime}}</p>
    <p>End time: {{model.properEndTime}}</p>
    <p>Product: {{model.productName}};{{model.productVersion}};{{model.productRevision}}</p>
    <p>Hostname: {{model.hostname}}</p>
    <p>Username: {{model.userName}}</p>
    <h4 {{bind-attr class="view.metaDataVisible:headerSortUp:headerSortDown"}} {{action 'toggleMetadata' this target='view'}}>Session MetaData:</h4>
    {{metadata-table-tree metadata=sessionMetadata isVisible=view.metaDataVisible}}
    {{#if model.hasSessionErrors}}
      <h3>Session Errors:</h3>
      {{#each error in model.sessionErrors}}
          <div class="error-description">
              <p class="exception-type">{{error.exception_type}}</p>
              <p class="exception-description">{{error.exception}}</p>
            {{#each traceback in error.traceback}}
                <p class="traceback-line-headline">{{traceback.filename}}:{{traceback.lineno}} ({{traceback.func_name}})</p>
              {{traceback-code traceback=traceback}}
            {{/each}}
          </div>
      {{/each}}
    {{/if}}
    {{render "tests"}}

</div>
