<div class="main-container">
    <h1>Sessions</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-1 col-xl-1">logical ID:</label>
            <div class="col-xs-4 col-xl-4">
              {{view Ember.TextField classBinding=":sessions-query" valueBinding="FilterlogicalID"}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-1 col-xl-1">Username:</label>
            <div class="col-xs-4 col-xl-4">
              {{view Ember.TextField classBinding=":sessions-query" valueBinding="FilterUserName"}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-1 col-xl-1">Product Name:</label>
            <div class="col-xs-4 col-xl-4">
              {{view Ember.TextField classBinding=":sessions-query" valueBinding="FilterProductName"}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-1 col-xl-1">Product Version:</label>
            <div class="col-xs-4 col-xl-4">
              {{view Ember.TextField classBinding=":sessions-query" valueBinding="FilterProductVersion"}}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-1 col-xl-1">Status:</label>
            <div class="col-xs-4 col-xl-4">
              {{view Ember.Select content=sessionStatuses selection=selectedStatus}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-1 col-xl-1">
                <button id="query-sessions" {{action "querySessions"}}>Search</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-offset-10 col-xs-offset-10 col-xs-2 col-xl-2">
            <p>{{view Ember.Checkbox checkedBinding="showRunning"}} Show only running sessions</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xl-12">
            <table class="sessions-table table table-bordered table-striped">
                <tr id="sessions-header">
                    <th id="header-nId" class="headerSortUp" {{action 'sortBy' 'nId'}}>ID</th>
                    <th id="header-logicalId" {{action 'sortBy' 'logicalId'}}>Logical ID</th>
                    <th id="header-status" {{action 'sortBy' 'status'}}>Status</th>
                    <th id="header-startTime" {{action 'sortBy' 'startTime'}}>Start time</th>
                    <th id="header-endTime" {{action 'sortBy' 'endTime'}}>End time</th>
                    <th id="header-productName" {{action 'sortBy' 'productName'}}>Product Name</th>
                    <th id="header-productVersion" {{action 'sortBy' 'productVersion'}}>Product Version</th>
                    <th id="header-productRevision" {{action 'sortBy' 'productRevision'}}>Product Revision</th>
                    <th id="header-hostname" {{action 'sortBy' 'hostname'}}>Hostname</th>
                    <th id="header-userName" {{action 'sortBy' 'userName'}}>User</th>
                </tr>
              {{#each filteredSessions}}
                  <tr>
                      <td>{{#link-to-animated 'session' this.id animations="main:slideLeft"}}{{this.id}}{{/link-to-animated}}</td>
                      <td>{{logicalId}}</td>
                      <td {{bind-attr class="isSuccess isError isFailure isRunning"}}>{{status}}</td>
                      <td>{{properStartTime}}</td>
                      <td>{{properEndTime}}</td>
                      <td>{{productName}}</td>
                      <td>{{productVersion}}</td>
                      <td>{{productRevision}}</td>
                      <td>{{hostname}}</td>
                      <td>{{userName}}</td>
                  </tr>
              {{/each}}
            </table>
        </div>
    </div>
</div>
