{{#tool-bar}}

  <p class="navbar-text">
    {{#link-to 'session' session.display_id}} Session {{session.display_id}}{{/link-to}} /

    {{#if test }}
      {{#link-to 'test' test.display_id }}Test {{test.display_id}}{{/link-to}} /
      {{#link-to 'test.errors' test.display_id}} Errors {{/link-to}}
    {{else}}
      {{#link-to 'session.errors' session.display_id}} Errors {{/link-to}}
    {{/if}}
    / {{index}}

  </p>

{{/tool-bar}}


{{error-detail error=error}}
