<table class="tests-table table table-bordered">
    <tr id="tests-header">
        <th id="header-integerId" class="headerSortUp" {{action 'sortBy' 'integerId'}}>ID</th>
        <th id="header-logicalId" {{action 'sortBy' 'logicalId'}}>Logical ID</th>
        <th id="header-name" {{action 'sortBy' 'name'}}>name</th>
        <th id="header-status" {{action 'sortBy' 'status'}}>Status</th>
        <th id="header-startTime" {{action 'sortBy' 'startTime'}}>Start time</th>
        <th id="header-duration" {{action 'sortBy' 'duration'}}>Duration</th>
        <th id="header-numErrors" {{action 'sortBy' 'numErrors'}}>Errors number</th>
        <th id="header-numFailures" {{action 'sortBy' 'numFailures'}}>Failures number</th>
    </tr>
  {{#each test in controller}}
      <tr>
          <td>{{#link-to-animated 'test' test.id animations="main:slideLeft"}}{{test.id}}{{/link-to-animated}}</td>
          <td>{{test.logicalId}}</td>
          <td>{{test.name}}</td>
          <td {{bind-attr class="test.isSuccess test.isError test.isFailure test.isRunning test.isInterrupted test.isSkipped"}}>{{test.status}}</td>
          <td>{{test.properStartTime}}</td>
          <td>{{test.duration}}</td>
          <td>{{test.numErrors}}</td>
          <td>{{test.numFailures}}</td>
      </tr>
  {{/each}}
</table>
