<div class="main-container">
    <a class="back" {{action 'goBack'}}>back</a>
    <h1>test {{model.test.id}}{{#if model.test.name}} - {{model.test.name}}{{/if}}</h1>

    <p>Logical ID: {{model.test.logicalId}}</p>
    <p>Name: {{model.test.name}}</p>
    <p>Status: {{model.test.status}}</p>
    <p>Start time: {{model.test.properStartTime}}</p>
    <p>Duration: {{model.test.duration}}</p>
    <h3>Test MetaData</h3>
    {{metadata-table-tree metadata=model.test.testMetadata isVisible=true}}

    <h3>Errors</h3>
    <h4 {{bind-attr class="model.test.noErrors:no-errors:total-errors"}}>Total Errors: {{model.test.numErrors}}</h4>
    {{#each error in model.testErrors}}
      <div class="error-description">
        <p class="exception-type">{{error.exception_type}}</p>
        <p class="exception-description">{{error.exception}}</p>
        {{#each traceback in error.traceback}}
            <p class="traceback-line-headline">{{traceback.filename}}:{{traceback.lineno}} ({{traceback.func_name}})</p>
            {{traceback-code traceback=traceback}}
        {{/each}}
      </div>
    {{/each}}
    <h3>Failures</h3>
    <h4 {{bind-attr class="model.test.noFailures:no-errors:total-errors"}}>Total Failures: {{model.test.numFailures}}</h4>
    <!--currently failure is not existant in slash->backslash reporting-->
</div>
