<h1>test {{id}}</h1>

<p>Logical ID: {{logicalId}}</p>
<p>Name: {{name}}</p>
<p>Status: {{status}}</p>
<p>Start time: {{properStartTime}}</p>
<p>Duration: {{duration}}</p>
<p>Errors number: {{numErrors}}</p>
<p>Errors number: {{numFailures}}</p>
<p>Skipped: {{userName}}</p>
<br/><br/>

