{{#tool-bar}}

  <p class="navbar-text">{{#link-to 'session' session.display_id}} Session {{session.display_id}}{{/link-to}} /
    {{#if test }}
      {{#link-to 'test' test.display_id }}Test {{test.display_id}}{{/link-to}} /
    {{/if}}
    Warnings
  </p>

{{/tool-bar}}

<div class="container">
  {{#each warnings as |w|}}
    <div class="box warning">
      <div class="info">
        {{moment-time unix=w.timestamp}} - From <strong>{{w.filename}}</strong>, line <strong>{{w.lineno}}</strong>
      </div>
      <div class="message">
        {{w.message}}
      </div>
    </div>
  {{/each}}

  {{infinity-loader infinityModel=warnings loadingText="Loading..." loadedText=""}}

</div>
