{{#if session_model.subjects}}
  <div class="container-fluid add-margin-top">
    <div class="row-fluid">
      <div class="col-sm-2">
        Ran on
      </div>
      <div class="col-sm-10">
        {{#each session_model.subjects as |s|}}
	      <div>
		    <i class="fa fa-rocket"></i> {{#link-to 'subject' s.name}}{{s.name}}{{/link-to}} <span class="label label-fine">{{s.version}}</span>
	      </div>
	      <dl class="dl-horitontal-left-aligned">
		    <dt>Product</dt>
		    <dd>{{s.product}}</dd>
		    <dt>Revision</dt>
		    <dd>{{elements/copyable-text value=s.revision}}</dd>
	      </dl>
	    {{/each}}

      </div>
    </div>
  </div>
{{/if}}

{{metadata/metadata-table metadata=metadata additional=additional_metadata related_entities=related_entities}}
