<div class="m-3 card">
  <div class="card-header">{{capitalize (pluralize (display-name "subject"))}}</div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        {{#each session_model.subjects as |subject|}}
          <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                    {{#link-to "subject" subject.name}}{{subject.name}}{{/link-to}}
                  </h4>
                  <h6 class="card-subtitle mb-2 text-muted">{{subject.product}} v{{subject.version}}</h6>
                  <h6 class="text-muted text-truncate"><small>{{fa-icon "git"}} {{subject.revision}}</small></h6>
                  <p class="card-text">
                  </p>
                </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{#if related_entities}}

  <div class="m-3 card">
    <div class="card-header">Related Entities</div>
    <div class="card-body">
      {{#each related_entities as |entity|}}
        {{#link-to "sessions" (query-params search=(concat "related=" entity.name))}}{{entity.name}}{{/link-to}} <small><div class="badge badge-pill badge-secondary">{{entity.entity_type}}</div></small>
      {{/each}}
    </div>
  </div>

{{/if}}

{{metadata/metadata-table metadata=metadata additional=additional_metadata related_entities=related_entities}}
