<div class="breakdown col-md-2">
  <div class="row">
    <div class="col-md-2">
      <span class="hint--bottom" data-hint="{{session.user_email}}">
        <img src="{{gravatar-url session.user_email}}" class="img-circle avatar small {{if session.is_delegate 'delegate'}}">
      </span>
      {{#if session.is_delegate}}
        <div class="delegate-info hint--bottom" data-hint="Actually run by {{session.real_email}}">
          <i class="fa fa-asterisk"></i>
        </div>
      {{/if}}
    </div>
    <div class="col-md-10">
      {{session-breakdown session=session}}
    </div>
  </div>
</div>
<div class="col-md-2">
  {{artifact-counter errors=session.num_errors}}
  {{artifact-counter warnings=session.total_num_warnings}}
</div>
<div class="col-md-2">
  {{#each session.subjects as |subject index|}}
    {{if index ", "}}<strong>{{subject.name}}</strong>
  {{/each}}
  {{session.products_string}}
</div>
<div class="col-md-6">
  {{humanized-time start_time=session.start_time end_time=session.end_time is_running=session.is_running}}
</div>
