{{hr-separator title="System Load Avg."}}

<div class="container-fluid">

  <div class="col-md-6">
    {{c3-chart data=model.load_avg.data gauge=model.load_avg.gauge color=model.load_avg.color}}
  </div>

  <div class="col-md-6">
    {{stats/admin-stats data=model.history series_key="system_load_avg" series_name="System Load Avg." floating_point=true maxY=model.load_avg.gauge.max}}
  </div>


</div>



{{hr-separator title="Usage Statistics"}}

<div class="container-fluid">
  <div class="col-md-6">
    {{stats/admin-stats data=model.history series_key="num_new_sessions" series_name="Number of New Sessions"}}
  </div>

</div>


{{# if session.data.authenticated.user_info.can.admin }}

{{hr-separator title="Database Statistics"}}

<div class="container-fluid">
  <div class="col-md-6">
    {{stats/admin-stats data=model.history series_key="db_size" series_name="DB Size" formatter=format_bytes}}
  </div>
</div>

{{/if}}
