<div class="container">
<div class="row-fluid stats">

  <div class="stats-panel">
    <h3>System load avg.</h3>
    {{c3-chart data=load_avg_gauge_data gauge=load_avg_gauge_settings color=load_avg_gauge_color}}
  </div>

  <div class="stats-panel">
    <h3>Load avg. history</h3>
    {{stats/admin-stats data=model.history series_key="system_load_avg" series_name="System Load Avg." floating_point=true maxY=model.load_avg.gauge.max}}
  </div>


  <div class="stats-panel">
    <h3>Number of New Sessions</h3>
    {{stats/admin-stats data=model.history series_key="num_new_sessions" series_name="Number of New Sessions"}}
  </div>


  <div class="stats-panel">
    <h3>Redis Key Count</h3>
    {{stats/admin-stats data=model.history series_key="num_redis_keys" series_name="Number of Redis Keys"}}
  </div>

  <div class="stats-panel">
    <h3>Redis Memory Usage</h3>
    {{stats/admin-stats data=model.history series_key="redis_memory_usage" series_name="Redis Memory Usage" formatter=format_bytes}}
  </div>

  {{# if (can "view_platform_stats") }}


    <div class="stats-panel">
      <h3>DB Size</h3>
      {{stats/admin-stats data=model.history series_key="db_size" series_name="DB Size" formatter=format_bytes}}
    </div>

  {{/if}}
</div>
</div>
