{{#tool-bar filters=filters pagination=pagination}}
  <p class="navbar-text">
    {{capitalize (pluralize (display-name "subject"))}} / {{subject.name}}
  </p>
{{/tool-bar}}

{{hr-separator title="Overview"}}
{{hr-separator title="Sessions"}}

{{query-results results=sessions
  meta=sessions.meta
  page=(mut page)
  page_size=(mut page_size)
  show_successful=(mut filters.show_successful)
  show_unsuccessful=(mut filters.show_unsuccessful)
  show_abandoned=(mut filters.show_abandoned)
  show_skipped=(mut filters.show_skipped)
}}
